.dropdown{
    width: 100%;
    .dropdownDescription{
        display: none;
    }
}

.dropdownTitle{
    z-index: 1;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #ff6060;
    p{
        font-size: 18px;
        font-weight: 500;
        color: white;
        align-self: center;
    }
    i{
        font-size: 32px;
        color: white;
        padding: 0 10px;
        transition: transform 400ms;
    };
}
.dropdownOpen{
    width: 100%;
    .dropdownTitle{
        i{
            transform: rotate(-180deg)
        }
    }
    .dropdownDescription{ 
        animation: growDown 300ms;
        margin-top: -10px;
        display: block;
        background-color: #F6F6F6;
        border-radius: 5px;
        padding: 30px 20px 20px 20px;
        }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
      }
    100% {
        transform: rotate(180deg)
      }
    }

@keyframes growDown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}