.dropdownList{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 109px;
}

@media screen and (max-width: 750px) {
    .dropdownList{
        gap: 20px;
        padding: 0;
    }
}