.dropdownList, .tagsList {
    display: flex
}

.dropdownList{
    gap: 76px;
}

.tagsList{
    gap: 10px;
}

.housingInfos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.housingDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.housingTitle{
    font-size: 36px;
}

.housingDescription{
    font-size: 18px;
}

.hostDetails{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 21px;
}

.hostName{
    max-width: 93px;
    text-align: end;
}

.profilePicture{
    height: 64px;
    width: 64px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

.stars{
    text-align: end;
    padding-bottom: 7px;
    i {
        padding: 0 2px;
        font-size: 18px;
    }
}
.emptyStar{
    color: #E3E3E3;
}

@media screen and (max-width: 750px) {
    .dropdownList {
        flex-direction: column;
    }
    
    .dropdownList{
        gap: 20px;
    }
    
    .housingInfos{
        flex-direction: column;
        margin-bottom: 13px;
    }
        
    .housingDetails{
        gap: 10px;
        margin-bottom: 16px;
    }
    
    .housingTitle{
        font-size: 18px;
    }
    
    .housingDescription{
        font-size: 14px;
    }
    
    .hostDetails{
        margin-bottom: 0px;
    }
    
    .profilePicture{
        height: 32px;
        width: 32px;
    }

    .hostDetailsAndRate{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}