footer {
  padding: 20px;
  background-color: black;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    text-align: center;
    color: white;
  }
  img {
    color: white;
  }
}
