.cardBackground {
  padding: 10px;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-color: #ff6060;
}

.cardDetails {
  img{
    height: 270px;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  p {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
  }
}

@media screen and (max-width: 750px) {
  .cardBackground {
    height: 225px;
  }
  .cardDetails {
    img{
      height: 158px;
    }
  }
}