header {
  margin-top: 45px;
  padding: 0 80px;
  img {
    width:210.322px;
    height: 68px;
  }
  .navigation{
    display: flex;
    gap: 57px;
  }
  .navLink{
    font-size: 24px;
    &:focus{
      text-decoration: underline;
    }
  }
}
