.carousel{
    height: 415px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    i {
        color: white;
        padding: 23px;
        font-size: 46px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
    .arrows{
        grid-row: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;      
    }
    .picturesCounter{
        color: white;
        font-size: 18px;
        padding: 24px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: flex-end;     
        grid-row: 3;
    }
}