.banner {
  background-size: cover;
  background-position: center;
  min-height: 223px;
  border-radius: 25px;
  margin-bottom: 43px;
}

.banner p {
  padding: 82.5px;
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.container {
  text-align: center;
}
