.banner {
  background-size: cover;
  background-position: center;
  min-height: 223px;
  border-radius: 25px;
  margin-bottom: 38px;
}

.banner p {
  padding: 82.5px;
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.container {
  text-align: center;
}

@media screen and (max-width: 750px) {
  .banner {
    min-height: 111px;
    border-radius: 10px;
    margin-bottom: 19px;
  }
  .banner p {
    padding: 31px 16px;
    font-size: 24px;
  }
  .container {
    text-align: start;
  }
  .banner {
    min-height: auto;
  }
}